@import "~@blueprintjs/core/lib/scss/variables";

body {
  div:focus, button:focus {
    outline: none;
  }
}


.map-wrapper {
  height: 100%;
  width: 100%;
}

.overlay-wrappers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 20px 20px 20px;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  & > * {
    pointer-events: auto;
    max-height: 100%;
  }

  & > *:not(:first-child) {
    margin-left: 20px;
  }
}

.tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .tab-content {
    flex: auto;
    overflow-y: auto;
  }

  .tab-controls-wrapper {
    display: flex;
    flex: 1;
  }
  .tab-controls {
    padding: 10px;
    margin: 10px 0;
  }
}

.favourites {
  .house-preview {
    padding: 5px;
    margin: 10px 0;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h4 {
        margin-block-start: 3px;
        margin-block-end: 3px;
      }
    }
    .summary {
      display: flex;
      flex-direction: row;
    }
  }
}



.filters {

  .row {
    display: flex;
    width: 100%;
    flex-direction: row;
    & > * {
      flex: 1;
    }
    & > *:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.selected-house-wrapper {
  width: 700px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .bp3-tab-list {
    border-bottom: 1px solid $light-gray3;
  }

  .content-wrapper {
    overflow-y: auto;
    max-height: 100%;
  }
}

.mapboxgl-map {
  height: 100%;
  width: 100%;
}